<h1 mat-dialog-title>
  Edit group
  <button mat-icon-button (click)="dialogRef.close()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<div mat-dialog-content>
  <ng-container *ngIf="field.fieldGroup">
    <div fxLayout="row">
      <div fxLayout="column" fxFlex>
        <mat-list *ngFor="let field of field.fieldGroup">
          <mat-list-item>
            <app-field
              [field]="field"
              (editField)="editField($event)"
              (removeField)="removeField($event)"
              fxFlex>
            </app-field>
          </mat-list-item>
          <mat-divider color="primary"></mat-divider>
        </mat-list>
      </div>
    </div>
  </ng-container>
  <div fxLayout="row">
    <app-add-field (addField)="addField($event)">
    </app-add-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="save()">
    Save
  </button>
</div>
