<div *ngIf="isOpened; else addButton">
  <mat-tab-group>
    <mat-tab label="Input">
      <app-edit-input (saveField)="add($event)" (cancel)="cancel()"></app-edit-input>
    </mat-tab>
    <mat-tab label="Select">
      <app-edit-select (saveField)="add($event)" (cancel)="cancel()"></app-edit-select>
    </mat-tab>
    <mat-tab label="Chips">
      <app-edit-chips (saveField)="add($event)" (cancel)="cancel()"></app-edit-chips>
    </mat-tab>
    <mat-tab label="Checkbox">
      <app-edit-checkbox (saveField)="add($event)" (cancel)="cancel()"></app-edit-checkbox>
    </mat-tab>
    <mat-tab label="Group">
      <app-edit-group (saveField)="add($event)" (cancel)="cancel()"></app-edit-group>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #addButton>
  <div fxLayout="row" class="pad-s">
    <button mat-fab color="primary" (click)="isOpened = true">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</ng-template>


