/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  color: #fff;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background {
  background-color: #424242;
}

.pad {
  &-b {
    &-xs {
      padding-bottom: 5px;
    }
    &-s {
      padding-bottom: 10px;
    }
    &-m {
      padding-bottom: 15px;
    }
    &-l {
      padding-bottom: 20px;
    }
    &-xl {
      padding-bottom: 25px;
    }
  }
  &-xs {
    padding: 5px;
  }
  &-s {
    padding: 10px;
  }
  &-m {
    padding: 15px;
  }
  &-l {
    padding: 20px;
  }
  &-xl {
    padding: 25px;
  }
}

.mr {
  &-xs {
    margin: 5px;
  }
  &-s {
    margin: 10px;
  }
  &-m {
    margin: 15px;
  }
  &-l {
    margin: 20px;
  }
  &-xl {
    margin: 25px;
  }
}
