<div fxLayout="column" fxFlexFill>
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="40px">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center">
        <a [routerLink]="['generator', 'new']" class="item">
          <mat-card>
            <mat-card-title>Make form</mat-card-title>
            <mat-card-subtitle>Just a simple form generator</mat-card-subtitle>
          </mat-card>
        </a>
      </div>
    </div>
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center">
        <a [routerLink]="['form-library']" class="item">
          <mat-card>
            <mat-card-title>Use form</mat-card-title>
            <mat-card-subtitle>Look at you form made with Formly</mat-card-subtitle>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>
