<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
  <div fxLayout="row" class="pad-s">
    <mat-form-field>
      <mat-label>Key</mat-label>
      <input matInput formControlName="key">
      <mat-error>This is Required Filed</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" class="pad-s">
    <mat-form-field>
      <mat-label>Label</mat-label>
      <input matInput formControlName="label">
      <mat-error>This is Required Filed</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" class="pad-s">
    <mat-checkbox formControlName="required">
      Required
    </mat-checkbox>
  </div>
  <div fxLayout="row" class="pad-s">
    <mat-form-field>
      <mat-label>Custom class</mat-label>
      <input matInput formControlName="className">
    </mat-form-field>
  </div>
  <h3>Expression</h3>
  <div fxLayout="row" class="pad-s">
    <mat-form-field>
      <mat-label>Expression option:</mat-label>
      <input matInput formControlName="expressionOption">
    </mat-form-field>
  </div>
  <div fxLayout="row" class="pad-s">
    <mat-form-field>
      <mat-label>Expression value:</mat-label>
      <input matInput formControlName="expressionValue">
    </mat-form-field>
  </div>
  <div fxLayout="row" class="pad-s">
    <button type="submit" color="warn" mat-raised-button>
      save input
    </button>
  </div>
</form>
